bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
.vs/
*.user
*.zip
# Playwright
Sneaker_Store.E2ETests/bin/
Sneaker_Store.E2ETests/obj/

# JMeter genererede rapporter (kør testene selv for at generere dem igen)
PerformanceTests/results/
